[submodule "Thirdparty/GameFramework"]
	path = Thirdparty/GameFramework
	url = https://github.com/TheLandGame/GameFramework.git
	branch = lumiterra-main
[submodule "game-message-core"]
	path = game-message-core
	url = https://github.com/TheLandGame/game-message-core.git
